.jumbotron {
    margin-top: 20px;
    background-size: 1000px;
    background-image: url("../images/SoundEffectorMograph.gif");
    color: white;
    text-align: center;
    font-family: 'Megrim', cursive;
 }
 
 #title {
    font-weight: 1000;
 }
 
 #subTitle {
    font-weight: 600;
 }
 
 body {
    background-image: url("../images/speaker.png");
 }
 
 label {
    color: rgb(252, 157, 204);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 25px;
 }
 
 #button {
    font-family: 'Orbitron', sans-serif;
    color: rgb(252, 157, 204);
 }
 
 #tracks {
   font-family: 'Rubik', sans-serif;
   color: white;
   font-weight: bold;
    font-size: 20px;
    text-align: center;
 }

 #concerts {
   font-family: 'Rubik', sans-serif;
   color: white;
   font-weight: bold;
   font-size: 20px;
   text-align: center;

 }
 
 #articles {
   font-family: 'Rubik', sans-serif;   
   color: white;
   font-weight: bold;
   font-size: 16px;
   text-align: center;
}
 
 #search {
    background-color: #343a40;
    border-color: black;
    color: rgb(252, 157, 204);
 }

 #artistInfo {
   font-family: 'Orbitron', sans-serif;
   color: rgb(252, 157, 204);
   font-weight: bold;
   font-size: 30px;
   text-align: center;
 }

 .articles, .tracks {
   color: rgb(255, 0, 119);
}